<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="box" id = "heading">
        <h1><%= key %></h1>
    </div>
    <div class="box">
        <% for(var i=0;i<nli.length;i++){ %>
           
            <form  action="/delete" method="post">
                <div class ="item">
                <input type="checkbox" name="check" value="<%=nli[i]._id%>" onchange="this.form.submit()">

                <p><%= nli[i].name %></p>
            </div>
            <input type="hidden" name="listname" value="<%= key %>"></input>
         </form>
            
       <% } %>
       <form class = "item" action="/" method="post">
        <input type="text" name="newitem" placeholder="New item" autocomplete="off">
        <button type="submit" name="list" value= <%= key %>>+</button>

    </form>
        
    </div>
    
</body>
</html>